<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <h2 class="project-email">{{ site.email }}</h2>
  <div class="svgico">
    <a href="https://github.com/arslan-chaudhry/" target="_blank"><img src="icons/octocat.svg" width="56px"></a>
    <span style="display:inline-block; width: 1;"></span>
    <a href="https://www.linkedin.com/in/arslanch/" target="_blank"><img src="icons/linkedin.png" width="56px"></a>
  </div><br/>
  <a href="index.html" class="btn">Home</a>
  <a href="publications.html" class="btn">Publications</a>
  <a href="blog.html" class="btn">Blog</a>
  <a href="./files/Arslan-Resume.pdf" class="btn">Resume</a>
</section>
